<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348483971524-bbt8n3rmfnch04c1ukj7c4hhtc65p7o2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348483971524-bbt8n3rmfnch04c1ukj7c4hhtc65p7o2</string>
	<key>API_KEY</key>
	<string>AIzaSyArZu1gU4Rl4Ikj4MERb6tcM959bUTsJ5g</string>
	<key>GCM_SENDER_ID</key>
	<string>348483971524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seikendojo1.InstagramFirestoreTutorial</string>
	<key>PROJECT_ID</key>
	<string>instagramfirestoretutori-ca9fd</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirestoretutori-ca9fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348483971524:ios:9bee28a20eb61e062e5c91</string>
</dict>
</plist>